.login-form {
  max-width: 400px;
  margin: 50px auto; /* Mengatur margin atas dan bawah menjadi 50px dan mengatur posisi menjadi tengah */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url('../Images/Irigasi.jpg'); /* Ganti 'nama-file-foto.jpg' dengan nama file foto yang Anda inginkan */
  background-size: cover; /* Memastikan foto diisi dengan baik di dalam area */
  background-position: center; /* Mengatur posisi foto ke tengah */
}


  .login-form label {
    font-weight: bold;
  }


  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

 
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .login-form button:hover {
    background-color: #0056b3;
  }

  .gagal{
    color: #000;
  }